body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.area {
    width: 100%;
    max-width: 1000px;
    /* padding-left: 10px; */
    /* padding-right: 30px; */
    /* background: url('../../img/noisquevoa.png') no-repeat fixed top; */
    background-size: contain;
    -webkit-box-shadow: 0px 0px 60px 30px rgba(143, 28, 3, 0.35);
    -moz-box-shadow: 0px 0px 60px 30px rgba(143, 28, 3, 0.35);
    box-shadow: 0px 0px 60px 30px rgba(143, 28, 3, 0.35);
}

.form-control:focus {
    border-color: #f10404!important;
    box-shadow: 0 0 0 0.2rem rgb(255 2 1 / 18%)!important;
}

div.cadastro {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.7);
}

label {
    font-weight: bold;
}

label.form-check-label {
    font-weight: normal;
}

button[type=submit] {
    margin-bottom: 20px;
}

div#erroTamanhoSenha,
div#erroConfirmaSenha,
div#cpfInvalido {
    color: rgb(242, 28, 3)
}

input[type=file] {
    background-color: #fff;
    border: 1px solid #bbb;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #dc3545;
    color: #fff;
    cursor: default;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #dc3545;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #dc3545;
    color: #fff;
}

a[href$='previous'] {
    background-color: #888!important;
}

a.termos-e-condicoes {
    color: #000;
}