.wrapper-content {
    padding: 20px 40px 40px!important;
}

.ibox > .buttons {
    padding-bottom: 50px;
}

.form-control:focus {
    border-color: #f10404;
    box-shadow: 0 0 0 0.2rem rgb(255 2 1 / 18%);
}

.form-row {
    padding: 10px 10px;
    margin: 0 0;
    justify-content: space-between;
}

.inserir-local {
    padding-left: 25px;
}

a.btn-secondary {
    width: 100%;
    height: 38px;
    color: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye {
    cursor: pointer;
}

div.cadastro {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    background-color: rgba(255, 255, 255, 0.7);
}

label {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}

label.form-check-label {
    font-weight: normal;
}

button[type=submit] {
    margin-bottom: 20px;
}

img {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

img.iconeEstatistica {
    width: 40px;
    height: 40px;
}

img.cadastroCartoes {
    width: 40px;
    height: 40px;
    margin: 10px auto;
}

.cadastroFalta {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin: 10px auto;
}

.form-row > div > span {
    margin: 0 20px;
    font-size: 25px;
    font-weight: bold;
}

.custom-select:focus {
    border-color: #f10404;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(241 4 4 / 50%);
}

input.placar {
    margin-top: -8px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.fileinput-filename {
    margin-left: 10px;
}

#accordion {
    width: 100%;
    padding: 0 10px;
}