.wrapper-content {
    padding: 20px 40px 40px!important;
}

.imgDiretoria {
    width: 150px;
    height: 200px;
    padding: 0;
}

.dadosDiretoria {
    font-size: 20px;
    padding: 10px;
}

.dadosDiretoria .row {
    margin-bottom: 7px;
}

.ibox-content:hover {
    background-color: #ddd;
    cursor: pointer;
}

.buttons {
    padding-bottom: 50px;
}