@media screen and (max-width: 400px) {
    .mandante,
    .visitante {
        width: 60px;
        height: 60px;
    }

    .placar-resultado,
    .versus {
        font-size: 40px;
    }

    span.label {
        padding: 3px 4px;
    }

    .ibox-title {
        padding: 15px 90px 8px 5px;
    }
}